* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  width: 100%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
}

.top .top-list {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-left: 70px;
}

.top .top-list .label {
  height: 40px;
}
